 .sidebar {
  position: fixed  ;
  top: 80px ;



    width: 15%; height: 50%; background: "#f8f9fa";
 }

.toggle-btn {
  display: none;
}
@media screen and (max-width: 1025px) {
 
.my-btn{
    display: block !important;
}

    .sidebar {
  transition: transform 0.3s ease-in-out;
  background: #f8f9fa;
  min-height: 70vh;
  margin-top: 50px;
  padding-top: 40px;
  width: 80% !important;
  position: fixed !important;
  top: 0 ;
  z-index: 7;



}

.sidebar.closed {
  transform: translateX(-100%) !important;
  display: none !important;

}

.sidebar.open {
  transform: translateX(0);
}

 .toggle-btn {
    position: fixed;  
    top: 45px;
    left: 25px;
  
    z-index: 9999;   
    display: block !important;
  }
  
}
