 .sidebar {
  position: absolute  ;
  top: 80px ;
 


    width: 15%; height: 50%; background: "#f8f9fa";
 }

.toggle-btn {
  display: none;
}
@media screen and (max-width: 1025px) {
 
.my-btn{
    display: block !important;
}

    .sidebar {
  transition: transform 0.3s ease-in-out;
  background: #f8f9fa;
  min-height: 100vh;
  margin-top: 50px;
  padding-right: 60px;
  width: 95% !important;
  position: fixed !important;
  top: 0 ;
  z-index: 7;
  padding-top: 50px;
  padding-bottom: 70px;
    overflow-y: auto;   
  overflow-x: hidden; 
  max-height: 120vh;


}

.sidebar.closed {
  transform: translateX(-110%) !important;
  display: relative !important;

}

.sidebar.open {
  transform: translateX(0);
}

 .toggle-btn {
    position: fixed;  
    top:75px;
    left: 900px;
  
    z-index: 99;   
    display: block !important;
  }
  
}
@media screen and (max-width: 768px) {

 .toggle-btn {
    position: fixed;  
    top:75px;
    left: 660px;
  
    z-index: 99;   
    display: block !important;
  }


}
@media screen and (max-width: 425px) {

 .toggle-btn {
    position: fixed;  
    top:75px;
    left: 360px;
  
    z-index: 99;   
    display: block !important;
  }


}
@media screen and (max-width: 375px) {

 .toggle-btn {
    position: fixed;  
    top:75px;
    left: 310px;
  
    z-index: 99;   
    display: block !important;
  }


}
@media screen and (max-width: 320px) {

 .toggle-btn {
    position: fixed;  
    top:75px;
    left: 250px;
  
    z-index: 99;   
    display: block !important;
  }


}
